# Configuracion de Navidrome
NAVIDROME_URL=https://tu-navidrome.ejemplo.com
NAVIDROME_USER=tu_usuario
NAVIDROME_PASS=tu_contraseña
TARGET_PLAYLIST_NAME=Canciones que te gustan

# Configuracion de Lidarr
LIDARR_URL=http://192.168.1.100:8686
LIDARR_API=tu_api_key_de_lidarr_aqui

# Configuracion de Base de Datos MySQL/MariaDB
MYSQL_HOST=192.168.1.100
MYSQL_USER=tu_usuario_db
MYSQL_PASS=tu_contraseña_db
MYSQL_DB=radio_music
