NAVIDROME_URL=https://tu-navidrome.com
NAVIDROME_USER=tu_usuario
NAVIDROME_PASS=tu_password
TARGET_PLAYLIST_NAME=Canciones que te gustan

MYSQL_HOST=192.168.100.203
MYSQL_USER=tu_usuario_bd
MYSQL_PASS=tu_password_bd
MYSQL_DB=radio_music
